  .field-description {
    font-size: 0.875rem;
    color: var(--ucd-black-60);
    margin-top: 0.25rem;
  }
  .checkbox-item .field-description, .radio-item .field-description, .checkbox-single .field-description {
    margin-left: 2.4rem;
    margin-top: -.25rem;
    margin-bottom: .5rem;
  }
  input[disabled],
  textarea[disabled] {
    background-color: #f0f0f0;
  }
  .form-entry-action-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
  }
  fieldset.radio, fieldset.checkbox {
    border: none;
    margin: 0;
    padding: 0;
  }
  fieldset.radio > legend, fieldset.checkbox > legend {
    all: unset;
    display: block;
    padding-bottom: 0.25rem;
    color: var(--ucd-blue-100, #022851);
    font-weight: 700;
  }
